@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary-color: #AB987A;
$active-color: #FF533D;
$light-color: #F5F5F5;
$dark-color: #0F1626;
$title-font: 'Roboto', sans-serif;
$xsq: "screen and (max-width: 700px)";